# VSCode workspace settings, developer specific.
.vscode
# Environment variable files (can contain secret keys).
**.env

# Database.
database.db
# These files are created when the SQLite DB is in use.
database.db-shm
database.db-wal