# VSCode workspace settings, developer specific.
.vscode
# Environment variable files (can contain secret keys).
**.env

# Database.
test.db
# These files are created when the SQLite DB is in use.
test.db-shm
test.db-wal