{% extends "base" %}

{% block head %}
{% endblock head %}

{% block body %}

{% set page = "faq" %}
{% include "navbar" %}

<div class="d-flex justify-content-center">
    <h1>FAQ</h1>
</div>
{% endblock body %}
