{% extends "base" %}

{% block head %}
{% endblock head %}

{% block body %}

{% set page = "home" %}
{% include "navbar" %}

<div class="d-flex justify-content-center">
    <h1>Marc's Tournament</h1>
</div>
{% endblock body %}
